/* styles.css */
body {
    background-color: #121212;
    color: #fff;
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header, .footer {
    padding: 1em;
    background-color: #1DB954;
}

.main {
    padding: 1em;
}

.button {
    color: #000;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* .button:hover {
    background-color: #1ed760;
    transform: scale(1.05);
} */

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
    display: inline-block; /* or use flex/grid for better alignment */
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .menu li {
        display: block;
    }
}

.authorize-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Helvetica', 'sans-serif';
}

.csharp-title {
    color: white;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;
    transform: translateY(100px); /* Increased space */
    margin-bottom: -20px;
}

.authorize-text {
    color: #1DB954;
    font-weight: bold;
    transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;
    transform: translateY(60px); /* Adjusted space */
    transition-delay: 1ms;
}

.authorize-link {
    color: black;
    background-color: white;
    font-size: 14px;
    font-family: 'Helvetica', 'sans-serif';
    transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;
    transform: translateY(80px); /* Adjusted space */
    transition-delay: 1.5ms;
    margin-top: -20px;
}

.fly-in {
    opacity: 1;
    transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;
    transform: translateY(-60px); /* Adjusted space */
}
