<!DOCTYPE html>
<html>
<head>
    <title>Spotify Integrator</title>
</head>
<body>
    <h1>Welcome to Spotify Integrator</h1>
    {% if not authorized %}
    <p>Please authorize with Spotify to proceed:</p>
    <a href="{{ url_for('authorize') }}">Authorize with Spotify</a>
    {% else %}
    <h2>Select an option:</h2>
    <ul>
        <li><a href="{{ url_for('display_playlists') }}">View My Playlists</a></li>
        <li><a href="{{ url_for('get_recommendations') }}">Get Top Recommended Songs</a></li>
        <li><a href="{{ url_for('display_artists') }}">See Top Artists</a></li>
    </ul>
    {% endif %}
</body>
</html>
