<!DOCTYPE html>
<html>
<head>
    <title>Spotify Integrator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-color: black;">
    <h1>Welcome to Spotify Integrator</h1>
    {% if not authorized %}
    <p>Please authorize with Spotify to proceed:</p>
    <a href="{{ url_for('authorize') }}">Authorize with Spotify</a>
    {% else %}
    <h2>Select an option:</h2>
    <ul>
        <li class="option"><a href="{{ url_for('display_playlists') }}">View My Playlists</a></li>
        <li><a href="{{ url_for('get_recommendations') }}">Get Top Recommended Songs</a></li>
        <li><a href="{{ url_for('display_artists') }}">See Top Artists</a></li>
        <li><a href="{{ url_for('display_top_tracks') }}">See Top Tracks</a></li>
        <li><a href="{{ url_for('display_saved_albums') }}">Saved Albums Testing DON'T TOUCH</a></li>
        <li><a href="{{ url_for('blend_playlists_route') }}">Blend My Playlists</a></li>
        <li><a href="{{ url_for('blend_playlists_with_user_route') }}">Blend with Other User's Playlist</a></li>
    </ul>
    {% endif %}
</body>
</html>
