<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Albums</title>
</head>
<body>
    <h1>Saved Albums</h1>
    <ul>
        {% for saved_album in saved_albums %}
        <li>
            <ul>
                <li>{{saved_album.name }}</li>
                {% for key, value in saved_album.items() %}
                    <li><strong>{{ key }}:</strong> {{ value }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
